<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>type</title>
</head>
<body>
<form action="/submit" method="POST">
      <br><label>operation</label>
 <input type="text" id="Name" name="operation"><br>
 <br><label>num1</label>
 <input type="text" id="num1" name="num1"><br>
 <br><label>num2</label>
 <input type="text" id="num2" name="num2"><br>
 <br><button type="submit">submit</button>
</form>
</body>
</html>